ATS Should keep records of the tickets sold by a travel agent company to customers
Ats should report financial department and allow travel agent company to discount
Ticket types: flight coupons (up to 4) auditor's coupons (blanks)
Blank types for international flights: 444 (international destinations' automatic ticketing up to 4 coupons each coupon for a particular leg), 440 (each coupon for a particular leg but with manual processing), 420 (444 with 2 coupons)
 Blank types for domestic flights: 201 (a blank with two coupons), 101 (a blank with one coupon)
Miscallenous Changes Orders: blanks used for excess luggage and other miscallenous services. The codes for them are 451 and 452.
All blanks have a number that starts with their code and followed by 6 to 8 digits. A blank becomes a valid ticket if plans of the journey are put on the flight coupons. It can be void if travel agents make a mistake.
If lost or stolen blanks should be blacklisted. (not a part of the new system)
When blanks are received from the airline representative of the travel agent they are added to an existing stock that can be arranged by blank type. Office manager allocated blanks to each travel advisor before they can sell them to a customer. If a blank is not assigned to anyone it can not be sold. Only the advisor that is assigned to the blank can sell that specific blank. A blank can be reassigned to an advisor. Unused blanks can be returned to the airline which a record about this might be kept in the travel agent's log file.
Sysadmin is responsible for maintaining the stock of blanks and fixing problems with the database.
Sales:
System should record the payment method (cash or credit card)
Two type of sales (domestic and interlines) the payment for interline can be made using the local currency or the currency codes specified by IATA, or in USD.

