{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% if errors %}     <!-- catches errors when adding or updating an exchange rate -->
        {{ errors }}
    {% endif %}
    <div class="card" style="width: 60%; margin: auto;">
    <form class="card-body bg-light" method = "post">
        {% csrf_token %}
        <h1>Update Exchange Rate or Add a New Currency</h1>
        <br>
        <br>
        Please enter the currency type in the format "currency_date", and then enter the rate <br><br>

        {{ form }}      <!-- imports form from backend to take the currency type and rate -->
        <br>
        <br>
      <input type="submit" name="" value="Update">      <!-- submit completed form -->
    </form>
    </div>
{% endblock %}
