{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% if errors %}     <!-- catches errors when adding or updating an exchange rate -->
        {{ errors }}
    {% endif %}
    <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <br>
        <h1>Update Exchange Rate<br>OR<br>Add a New Currency</h1>
        <br>
        <br>
        <p style="color: #8f8f8f">Please enter the currency type in the format "currency_YYYY-MM-DD",<br>e.g. Euros_2020-04-11, and then enter the rate.</p>
        <br>
        <br>
        {{ form }}      <!-- imports form from backend to take the currency type and rate -->
        <br>
        <br>
      <input type="submit" name="" value="Update">      <!-- submit completed form -->
        <br>
    </form>  <!-- end of form -->
    </div>
    </div>
    <br>
    <br>
{% endblock %}
