{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% if errors %}     <!-- catches errors when assigning blanks to Travel Advisors -->
        {{ errors }}
    {% endif %}
    <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <br>
        <h1>Assign Blanks</h1>
        <br>
        <p style="color: #8f8f8f">Select an advisor from the drop down menu and enter the commission rate.</p>
        {{ form }}
        <br>
        <br>
        <p style="color: #8f8f8f">Enter the range of blanks to assign in the format '44412345678',
            <br>where '444' is the blank type and '12345678' is the blank number.</p>
        Assign From:
        <input type="number" name="from_value" value="{{ from_value }}">
        Assign To:
        <input type="number" name="to_value" value="{{ to_value }}">
        <br>
        <input type="submit" name="" value="Assign blanks">
        <br>
    </form>     <!-- end of form -->
    </div>
    </div>
    <br>
    <br>
{% endblock %}