
<!-- base.html: contains style sheet link, header, nav bar & user welcome messages -->
<!--  -->

<!DOCTYPE html>
{% load auth_extras %}
<html lang="en">      <!-- language set to English -->
<head>
{% load static %}
<!-- lines 10-11: CSS style sheet connection is made -->
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>AIR TICKET SALES</title>
</head>

<body>
<header>

    <div class="container">      <!-- Block is responsible for ATS header including the nav bar -->
        <div id="slogan">
            <h1>AIR TICKET SALES</h1>     <!-- Page Title; is present on all pages including login and logout pages -->
        </div>
        {% if user.is_authenticated %}      <!-- only when a user is logged in will the nav be displayed -->
        <nav>
            <br>
            <ul>
                <a class="card-body" href=/homepage> Home</a>       <!-- returns user to home page -->
                <a class="card-body" href=/logout> Logout</a>       <!-- logs user out -->
            </ul>
        </nav>
        {% endif %}
    </div>

</header>

<!-- Block displays user's name and what type of user they are logged in as, if the login is successful -->
<div class="card-header d-flex justify-content-left">
{% if user.is_authenticated %}
  Welcome to the ATS System {{ user.username }}, you are logged in as&nbsp;
    {% if request.user|has_group:"system_administrator" %}           <!-- SA message -->
    <p>a System Administrator!&nbsp;</p>
{% endif %}
{% if request.user|has_group:"travel_advisor" %}           <!-- TA message -->
    <p>a Travel Advisor!&nbsp;</p>
{% endif %}
{% if request.user|has_group:"manager" %}           <!-- OM message -->
    <p>an Office Manager!&nbsp;</p>
{% endif %}

{% else %}
  <p>Please <a href=/> Login</a> to continue</p>
{% endif %}

</div>
{% block title %}
{% endblock %}
<br>
    <div class="row align-items-center h-500">
        <div class="col-10 mx-auto justify-content-center">
            <div class="h-100 border-secondary justify-content-center">
                   {% block content %}
                   {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
