{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->

<!-- Displays all blanks currently in the system -->
{% block content %}
    <div class="card-body bg-secondary">
    <h1>System Stock</h1>
<br>
{% for blank in blanks %}
    <div class="card bg-light">
        Blank Type:
    {{ blank.type }}<br>
        Number:
    {{ blank.number }}
        | Assigned to:
    {{ blank.advisor }}
        | Date Created:
    {{ blank.date }}
        | Commission Rate:
    {{ blank.commission_rate }}
        | Price:
    {{ blank.price }}
        | Purchased:
    {{ blank.is_sold }}
        | Refunded:
    {{ blank.is_refunded }}
    </div>
<br />
{% endfor %}
    </div>
    <br>

{% endblock %}