{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
<!--This page is for when the advisor sell/refunds a blank via cash -->
{% block content %}
    <div class="bg-secondary card">
        Blank Type:
    {{ blank.type }}<br>
        | Number:
    {{ blank.number }}
        | Assigned to:
    {{ blank.advisor }}             <!--The relevant information is added similiar to the card one -->
        | Available:
    {{ blank.is_sold }}
        | Refunded:
    {{ blank.is_refunded }}
        | Date Created:
    {{ blank.date }}

 <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <br>
        <h1>Create Ticket</h1>
        <br>
        <br>
        <p style="color: #8f8f8f">Enter the date in the format 'YYYY-MM-DD'</p>
        <br>
        {{ form }}      <!--The form is created for the blank to be sold with all the relevant information -->
        <br>
        <br>
      <input type="submit" name="" value="Confirm">
        <br>
    </form>  <!-- end of form -->
    </div>
    </div>
    <br>
    <br>
{% endblock %}