{%  extends "base.html" %}
        {% block content %}

            <div class="bg-secondary card">
            type:
            {{ blank.type }}
                number:
    {{ blank.number }}
    sold?
    {{ blank.is_sold }}
    refunded?
    {{ blank.is_refunded }}
    date created:
    {{ blank.date }}
    assigned advisor:
    {{ blank.advisor }}

    <form class="border-secondary card bg-light" method = "post">
        {% csrf_token %}
        <h1 >Air Ticket Sales</h1>
        {{ form }}
        Date format '2020-03-06' (Most of the time the due date is 30 days from today but you can make exceptions after asking your manager) If not entered it will be assumed that the payment is due 30 days
         <br>
      <input type="submit" name="" value="Sell">
    </form>

    </div>
{% endblock %}