{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->

<!-- Displays all blanks currently in the system -->
{% block content %}
    <h5 style="font-size: 40px; font-family: 'Arial Black'; text-align: center">System Stock</h5>
<br>
{% for blank in blanks %}
    <div class="card-body bg-light">
    <div class="card bg-light">
        Blank Type:
    {{ blank.type }}<br>   <!-- Displays the blank type-->
        Number:
    {{ blank.number }}      <!-- Displays the blank number-->
        | Assigned to:
    {{ blank.advisor }}     <!--Displays the advisor it was assigned to -->
        | Date Created:
    {{ blank.date }}        <!-- The date, comission rate, price, number sold, purchased and refunded is also all displayed with
                                    the correct header-->
        | Commission Rate:
    {{ blank.commission_rate }}
        | Price:
    {{ blank.price }}
        | Purchased:
    {{ blank.is_sold }}
        | Refunded:
    {{ blank.is_refunded }}
    </div>
    </div>
{% endfor %}
    </div>
    <br>

{% endblock %}