{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->

{% block content %}
    <div class="bg-secondary card">
        Blank Type:
    {{ blank.type }}
        | Blank Number:
    {{ blank.number }}
        | Assigned to:
    {{ blank.advisor }}
        | Available:
    {{ blank.is_sold }}
        | Refunded:
    {{ blank.is_refunded }}
        | Date Created:
    {{ blank.date }}

    <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <br>
        <h1>Create Ticket</h1>
        {{ sell_form }}
        Enter the date in the format 'YYYY-MM-DD'
        {{ card_form }}
         <br>
      <input type="submit" name="" value="Confirm">
        <br>
    </form>  <!-- end of form -->
    </div>
    </div>
    <br>
    <br>
{% endblock %}