{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% load auth_extras %}

<!-- displays what reports are available to generate by which users -->

    {% if request.user|has_group:"manager" %}
        <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">Create Stock Turnover Report</h5>
    <p class="card-text">Click here to create a stock turnover report</p>
    <a href="create_stock_turnover_report" class="btn btn-primary">Go</a>
</div>
    </div>
    <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">Create Individual Sales Reports</h5>
    <p class="card-text">Click here to create an Individual Sales Report</p>
    <a href="create_individual_sales_report" class="btn btn-primary">Go</a>
</div>
    </div>
    <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">Create Global Sales Reports</h5>
    <p class="card-text">Click here to create a Global Sales Report</p>
    <a href="create_global_sales_report" class="btn btn-primary">Go</a>
</div>
    </div>
        <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">Create GBP report</h5>
    <p class="card-text">Click here to create a GBP report</p>
    <a href="create_gbp_report" class="btn btn-primary">Go</a>
</div>
    </div>
    {% endif %}


    {% if request.user|has_group:"system_administrator" %}
        <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">Create Stock Turnover Report</h5>
    <p class="card-text">Click here to create a stock turnover report</p>
    <a href="create_stock_turnover_report" class="btn btn-primary">Go</a>
</div>
    {% endif %}




    {% if request.user|has_group:"travel_advisor" %}
        <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">Create Individual Sales Report</h5>
    <p class="card-text">Click here to create an Individual Sales Report</p>
    <a href="create_individual_sales_report" class="btn btn-primary">Go</a>
</div>
    {% endif %}
{% endblock %}