{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
{% if errors %}     <!-- catches errors when creating Global Sales Reports -->
        {{ errors }}
    {% endif %}
    <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <br>
        <h1>Global Sales Reporsts</h1>
        <br>
        <br>
        <p style="color: #8f8f8f">Enter the report period in the format 'YYYY-MM-DD'</p>
        <br>
        {{ form }}      <!-- pulls created form from backend -->
        <br>
        <br>
      <input type="submit" name="" value="Generate Report">
        <br>
    </form>  <!-- end of form -->
    </div>
    </div>
    <br>
    <br>
{% endblock %}