{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% if errors %}     <!-- catches errors when registering new blanks -->
        {{ errors }}
    {% endif %}
    <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <br>
        <h1>Register New Blanks</h1>
        <br>
        <br>
        <p style="color: #8f8f8f">Select the 'Type' of Blank from the drop down menu and then enter the 'Price'.</p>
        <br>
        {{ form }}      <!-- pulls form created in back end to select the blank type and enter the price -->
        <br>
        <br>
        <p style="color: #8f8f8f">Enter the digit blank type, e.g. '444', followed by the 6-8 digit blank number of the first and last blanks in the range you want to register.</p>
        <br>
        First:
        <input type="number" name="from_value" value="{{ from_value }}"> <!--The range is stored in the variables from and to_value
                                                                             for the range of blanks to be created.-->
        Last:
        <input type="number" name="to_value" value="{{ to_value }}">
        <br>
        <input type="submit" name="" value="Register Blanks">
        <br>
    </form>  <!-- end of form -->
    </div>
    </div>
    <br>
    <br>
{% endblock %}