{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% if errors %}     <!-- catches errors when deleting blanks -->
        {{ errors }}
    {% endif %}
    <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <h1>Delete Blanks</h1>
        <br>
        <br>
        Enter the range of blanks you want to delete in the following format '44412345678',
        where '444' is the blank type and '12345678' is the blank number.
        From:
        <input type="number" name="from_value" value="{{ from_value }}">    <!--The range that the user wants to delete are
                                                                              stored in the correct values as previously seen-->
        To:
        <input type="number" name="to_value" value="{{ to_value }}">
        <br>
        <br>
        <input type="submit" name="" value="Delete">
    </form>     <!-- end of form -->
    </div>
    </div>
{% endblock %}