{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    <h1>
    Your request was unsuccessful and has not been completed.
    </h1>
    I reached up into the top of the closet
    <br>
and took out a pair of blue panties
    <br>
and showed them to her and
    <br>
asked “are these yours?”
    <br>
and she looked and said,
    <br>
“no, those belong to a dog.”
    <br>
she left after that and I haven’t seen
    <br>
her since. she’s not at her place.
    <br>
I keep going there, leaving notes stuck
    <br>
into the door. I go back and the notes
    <br>
are still there. I take the Maltese cross
    <br>
cut it down from my car mirror, tie it
    <br>
to her doorknob with a shoelace, leave
    <br>
a book of poems.
    <br>
when I go back the next night everything
    <br>
is still there.
    <br>
I keep searching the streets for that
    <br>
blood-wine battleship she drives
    <br>
with a weak battery, and the doors
    <br>
hanging from broken hinges.
    <br>
I drive around the streets
    <br>
an inch away from weeping,
    <br>
ashamed of my sentimentality and
    <br>
possible love.
    <br>
a confused old man driving in the rain
    <br>
wondering where the good luck
    <br>
went.
    <br>
    <br>
    Charles Bukowski
    <br><br><br><br>

{% endblock %}