{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    <br>
    <br>
    <br>
<div class="card" style="width: 70%; margin: auto;">
    <div class="card-body">
        <br>
        <br>
    <h5 style="font-size: 35px; font-family: 'Arial'">Your request was unsuccessful<br>and has not been completed.</h5>
        <br>
        <br>
        <br>
    <a href=/homepage class="btn btn-primary">Return to Homepage</a>       <!-- returns user to the homepage -->
        <br>
        <br>
        <br>
    </div>
</div>

{% endblock %}