{%  extends "base.html" %}         <!-- extends base.rendering the header and nav bar for all users -->

{% load static %}
{% load auth_extras %}
{% block content %}
    <br>

<!-- Homepage for the ATS System, displays the correct functionality corresponding to which 'group' the user belongs to -->


<!-- SYSTEM ADMINISTRATOR HOMEPAGE ACTIONS -->
{% if request.user|has_group:"system_administrator" %}  <!-- if logged in as a System Admin the following menu will be shown -->

    <!-- menu item: take the user to the page displaying the form to register new blanks -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Register Blanks by Range</h5>
        <p class="card-text">Click here to create a batch of blanks using a from to range</p>
        <a href="create_blanks_with_range" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: takes the user to the page displaying the form to register new blanks -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Register Blanks</h5>
        <p class="card-text">Click here to create a batch of blanks</p>
        <a href="create_blanks" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: takes the user to the page displaying the all blanks present in the system (system stock)  -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">System Stock</h5>
        <p class="card-text">Click here to view all the blanks in our system</p>
        <a href="blanks" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
        <!-- menu item: to search the system stock for an individual blank -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Search for a Blank</h5>
        <p class="card-text">Click to search for a blank in the system by entering its number</p>
        <a href="search_for_a_blank" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: takes the user to the form to delete a blank from the system -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Delete Blanks</h5>
        <p class="card-text">Delete some blanks from the system</p>
        <a href="delete_blanks" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to create a new report -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Create Report</h5>
        <p class="card-text">Create a new report</p>
        <a href="create_reports" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to view all the reports created by that user in the system -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">View Reports</h5>
        <p class="card-text">View previously generated reports in the system</p>
        <a href="reports" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: for creating a new user account -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Register Users</h5>
        <p class="card-text">Click here to create an account for a new employee</p>
        <a href="register_user" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to perform a database backup -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Back Up Database</h5>
        <p class="card-text">Download the database as a json file</p>
        <a href="backup_database" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to restore the database from a backup -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Restore Database</h5>
        <p class="card-text">Restore the database from a json file</p>
        <a href="restore_database" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
{% endif %}


<!-- TRAVEL ADVISOR HOMEPAGE ACTIONS -->
{% if request.user|has_group:"travel_advisor" %}  <!-- if logged in as a Travel Advisor the following menu will be shown -->

    <!-- menu item: to register a new customer -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Register Customer</h5>
        <p class="card-text">Click here to register a new customer to the system</p>
        <a href="register_customer" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to view all blanks available to user -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">My Blanks</h5>
        <p class="card-text">Click here to view your assigned blanks</p>
        <a href="my_blanks" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to search the system stock for an individual blank -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Search for a Blank</h5>
        <p class="card-text">Click to search for a blank in the system by entering its number</p>
        <a href="search_for_a_blank" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to create a new report -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Create Report</h5>
        <p class="card-text">Create a new report</p>
        <a href="create_reports" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to view all the reports created by that user in the system -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">View Reports</h5>
        <p class="card-text">View previously generated reports in the system</p>
        <a href="reports" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to update or add a new currency -->
    <div class="card" style="width: 40%; margin: auto">
        <div class="card-body">
        <h5 class="card-title">Update or Add Currency</h5>
        <p class="card-text">Click here to add a new currency with a rate</p>
        <a href="add_currency" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
{% endif %}


<!-- MANAGER HOMEPAGE ACTIONS -->
{% if request.user|has_group:"manager" %}   <!-- if logged in as an Office Manager the following menu will be shown -->

    {% for blank in blanks %}       <!-- runs through blank stock checking for any payments outside of 30 days -->
        <div class="card bg-light" style="width:45%; margin: auto;">
            <p style="color:red;text-align:center;font-weight:bold">! LATE PAYMENT ALERT !</p>
            <!-- alert displays customer name and blank which is yet to be paid for -->
            <p style="text-align: center">Customer {{ blank.blank_customer.name }} has an outstanding payment for {{ blank.number }}</p>
            <!-- Dismiss alert button, marks blank as paid for -->
            <a href="set_paid/{{ blank.number }}/" class="btn btn-primary" >Dismiss</a>
        </div>
        <br>
    {% endfor %}
    <br>
    <!-- menu item: takes user to the form to assign blanks to a Travel Advisor -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Assign Blanks</h5>
        <p class="card-text">Click here to assign blanks to Travel Advisor</p>
        <a href="assign_blanks" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to view all blanks currently in the system -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">View Blanks</h5>
        <p class="card-text">Click here to view all the blanks in the system</p>
        <a href="blanks" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to search the system stock for an individual blank -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Search for a blank</h5>
        <p class="card-text">Click to search the System Stock for a registered blank</p>
        <a href="search_for_a_blank" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to create a new report -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Create Report</h5>
        <p class="card-text">Create a new report</p>
        <a href="create_reports" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to view all the reports created by that user in the system -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">View Reports</h5>
        <p class="card-text">View previously generated reports in the system</p>
        <a href="reports" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to update or add a new currency -->
    <div class="card" style="width: 40%; margin: auto">
        <div class="card-body">
        <h5 class="card-title">Update or Add Currency</h5>
        <p class="card-text">Click here to add a new currency with a rate</p>
        <a href="add_currency" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to register a new customer -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">Register Customer</h5>
        <p class="card-text">Click here to register a new customer to the system</p>
        <a href="register_customer" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
    <!-- menu item: to view all blanks available to user -->
    <div class="card" style="width: 40%; margin: auto;">
        <div class="card-body">
        <h5 class="card-title">My Blanks</h5>
        <p class="card-text">Click here to see your assigned blanks</p>
        <a href="my_blanks" class="btn btn-primary">GO</a>
        </div>
    </div>
    <br>
{% endif %}

{% endblock %}