{%  extends "base.html" %}
head>
{% load static %}
{% load auth_extras %}
{% block content %}
    <br>





    {% if request.user|has_group:"system_administrator" %}
        <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Back Up Database</h5>
    <p class="card-text">Download the database as a json file</p>
    <a href="backup_database" class="btn btn-primary">Go</a>
  </div>
        </div>
        <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Restore Database</h5>
    <p class="card-text">Restore the database from a json file</p>
    <a href="restore_database" class="btn btn-primary">Go</a>
  </div>
        </div>
        <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Create Report</h5>
    <p class="card-text">Create a new report</p>
    <a href="create_reports" class="btn btn-primary">Go</a>
  </div>
        </div>
        <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Reports</h5>
    <p class="card-text">Reports in the system</p>
    <a href="reports" class="btn btn-primary">Go</a>
  </div>
        </div>
         <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Add Currency</h5>
    <p class="card-text">Click here to add a new currency with a rate</p>
    <a href="add_currency" class="btn btn-primary">Go</a>
  </div>
         </div>
        <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Create blanks</h5>
    <p class="card-text">Click here to create a batch of blanks</p>
    <a href="create_blanks" class="btn btn-primary">Go</a>
  </div>
        </div>
         <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Delete blanks</h5>
    <p class="card-text">Delete some blanks from the system</p>
    <a href="delete_blanks" class="btn btn-primary">Go</a>
  </div>
            </div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Register Users</h5>
    <p class="card-text">Click here to register a new employee</p>
    <a href="register_user" class="btn btn-primary">Go</a>
  </div>
    </div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">View Blanks</h5>
    <p class="card-text">Click here to view all the blanks in our system</p>
    <a href="blanks" class="btn btn-primary">Go</a>
  </div>
    </div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Assign Blanks</h5>
    <p class="card-text">Click here to assign blanks to an advisor</p>
    <a href="assign_blanks" class="btn btn-primary">Go</a>
  </div>
    </div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Register Customer</h5>
    <p class="card-text">Click here to register a new customer to the system</p>
    <a href="register_customer" class="btn btn-primary">Go</a>
</div>
    </div>
{% endif %}
<br>




{% if request.user|has_group:"travel_advisor" %}
    <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Create Report</h5>
    <p class="card-text">Create a new report</p>
    <a href="create_reports" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Reports</h5>
    <p class="card-text">Reports in the system</p>
    <a href="reports" class="btn btn-primary">Go</a>
  </div>
    </div>
    <div class="card" style="width: 100%;">
<div class="card-body">
    <h5 class="card-title">Register Customer</h5>
    <p class="card-text">Click here to register a new customer to the system</p>
    <a href="register_customer" class="btn btn-primary">Go</a>
</div>
    </div>
    <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">My Blanks</h5>
    <p class="card-text">Click here to see your assigned blanks</p>
    <a href="my_blanks" class="btn btn-primary">Go</a>
</div>
{% endif %}
<br>




{% if request.user|has_group:"manager" %}
    {% for blank in blanks %}
        <div class="card bg-light" style="width: 100%;">
        {{ blank.blank_customer.name }} Has not paid for
            {{ blank.type }}
        {{ blank.number }}
        Yet
            <a href="set_paid/{{ blank.number }}/" class="btn-primary">Set Paid</a>
        </div>
    {% endfor %}


    <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Create Report</h5>
    <p class="card-text">Create a new report</p>
    <a href="create_reports" class="btn btn-primary">Go</a>
  </div>
    </div>
        <div class="card" style="width: 100%;">
        <div class="card-body">
    <h5 class="card-title">Reports</h5>
    <p class="card-text">Reports in the system</p>
    <a href="reports" class="btn btn-primary">Go</a>
  </div>
</div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">View Blanks</h5>
    <p class="card-text">Click here to view all the blanks in our system</p>
    <a href="blanks" class="btn btn-primary">Go</a>
  </div>
</div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Assign Blanks</h5>
    <p class="card-text">Click here to assign blanks to an advisor</p>
    <a href="assign_blanks" class="btn btn-primary">Go</a>
  </div>
    </div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Register Customer</h5>
    <p class="card-text">Click here to register a new customer to the system</p>
    <a href="register_customer" class="btn btn-primary">Go</a>
</div>
    </div>
    <div class="card" style="width: 100%;">
    <div class="card-body">
    <h5 class="card-title">My Blanks</h5>
    <p class="card-text">Click here to see your assigned blanks</p>
    <a href="my_blanks" class="btn btn-primary">Go</a>
</div>
    </div>
    </div>
{% endif %}
<br>



{% endblock %}