
<!-- Login Page for the ATS System -->
<!--  -->

{%  extends "base.html" %}      <!-- extends base.html rendering only the header as the user is yet to login -->

{% load static %}
<head>
    <title>LOGIN</title>    <!-- tab title -->
</head>
{% block title %}
{% endblock %}
{% block content %}
    {% if errors %}      <!-- if login details are incorrect error message is displayed and login for is refreshed -->
        {{ errors }}
    {% endif %}
    <form class="card-body" method = "post">    <!-- start of login form -->
        {% csrf_token %}

        <h1>Login</h1>
        </br>
        <p>Please enter your login details</p>
        </br>

        {{ form }}

      <input type="submit" name="" value="Login">     <!-- login button and submit -->

    </form>     <!-- end of login form -->
{% endblock %}
