{%  extends "base.html" %}
head>
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<head>
    <title>Air Ticket Sales - Login</title>
</head>
{% block title %}
{% endblock %}
{% block content %}
    {% if errors %}
        {{ errors }}
    {% endif %}
    <form class="box" method = "post">
        {% csrf_token %}
        <h1>Air Ticket Sales</h1>
        {{ form }}
      <input type="submit" name="" value="Login">

    </form>
{% endblock %}
