{%  extends "base.html" %}       <!-- extends base.html to render the header and nav bar for this page -->

{% block content %}
    {% for blank in blanket %}
    <div class="card-body">     <!-- Viewing all individual blanks in a table -->
    Blank Type:
    {{ blank.type }}
        <br>
    Number:
    {{ blank.number }}
        <br>
    Date Created:
    {{ blank.date }}
        <br>
    Assigned to:
    {{ blank.advisor }}
        <br>
    Commission Rate:
    {{ blank.commission_rate }}
        <br>
    Purchased:
    {{ blank.is_sold }}
        <br>
    Price:
    {{ blank.price }}
        <br>
    Payment Received:
    {{ blank.is_paid }}
        <br>
    Refunded:
    {{ blank.is_refunded }}
        <br>
    </div>

    {% endfor %}

{% endblock %}