{%  extends "base.html" %}      <!-- extends base.html to render the header and nav bar for this page -->
{% load static %}
{% load auth_extras %}
<!-- informs user that they have logged out and provides them with a button to return to the login page -->
{% block content %}
    <br>
    <br>
    <br>
<div class="card" style="width: 45%; margin: auto;">
    <div class="card-body">
        <br>
        <br>
    <h5 style="font-size: 35px; font-family: 'Arial'">You have logged out!</h5>
        <br>
        <br>
        <br>
    <a href=/ class="btn btn-primary">Return to Login</a>       <!-- returns user to login page -->
        <br>
        <br>
        <br>
    </div>
</div>

{% endblock %}