{%  extends "base.html" %}
{% load mathfilters %}
{% block content %}
    <div class="card-body">
<br />
{% for blank in blanks %}
    {% if blank.advisor == current_user %}
<div class="bg-light">
number:
    {{ blank.type }}
    {{ blank.number }}
    sold?
    {{ blank.is_sold }}
price:
    {{ blank.price }}
GBP
VAT:
{{ blank.price|mul:20|div:100 }}
price + vat in GBP:
{{ blank.price|mul:20|div:100|add:blank.price }}
    refunded?
    {{ blank.is_refunded }}
    date created:
    {{ blank.date }}
    assigned advisor:
    {{ blank.advisor }}
        commission_rate
        {{ blank.commission_rate }}
{% if blank.is_sold %}
        baught by:
        {{ blank.blank_customer.name }}
{% endif %}
<br>
{% if blank.is_sold %}
    {% if not blank.is_refunded %}
        <a href="refund/{{ blank.number }}/" class="btn btn-secondary ">Refund Blank</a>
        {% endif %}
{% endif %}
        {% if not blank.is_sold %}
        <a href="blanku_by_cash/{{ blank.number }}/" class="btn btn-primary ">Sell by cash</a>
    <a href="blanku_by_card/{{ blank.number }}/" class="btn btn-primary">Sell by card</a>
            {% endif %}
        </div>
<br />

    {% endif %}

{% endfor %}
<div/>
{% endblock %}