{%  extends "base.html" %}   <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% if errors %}     <!-- catches errors when registering new customers -->
        {{ errors }}
    {% endif %}
    <div class="card" style="width: 60%; margin: auto;">        <!-- formatting form width and margin -->
    <div class="card-body bg-light">
    <form class="card" method = "post">        <!-- form start -->
        {% csrf_token %}
        <br>
        <h1>Register a New Customer</h1>
        <br>
        <br>
        <p style="color: #8f8f8f">Enter the customer's full name and address.</p>
        <br>
        {{ form }}   <!-- pulls form created in back end to select the blank type and enter the price -->
        <br>
        <br>
      <input type="submit" name="" value="Register Customer"> <!--Sends data to database -->
        <br>
    </form>  <!-- end of form -->
    </div>
    </div>
    <br>
    <br>
{% endblock %}