{%  extends "base.html" %}      <!-- extends base.html to render the header and nav bar for this page -->
{% block content %}
    {% if errors %}     <!-- catches errors when registering a new user -->
        {{ errors }}
    {% endif %}
    <div class="card-body bg-light">
    <form class="card bg-light" method = "post">
        {% csrf_token %}
        <h1>Create a New User</h1>
        <br>
        <br>
        {{ form }}
        <br>
        <br>
      <input type="submit" name="" value="Register User">
    </form>
    </div>
{% endblock %}