{%  extends "base.html" %}              <!-- extends base.html to render the header and nav bar for this page -->
{% load auth_extras %}
{% block content %}
Stock Turnover Reports
    {% for s in stock_turnover_reports %}
        <br>
        Report No:
        {{ s.id }}
        <a href="view_stock_turnover_report/{{ s.id }}">Go</a>
    {% endfor %}
    <br>
    {% if request.user|has_group:"manager" %} <!-- If the user requests the reports page
                                               Only allow permissions for report if the user belongs to the manager group.-->
        <br>
        Individual sales reports:
    {% for i in individual_sales_reports %} <!-- Data and heading for individual sales report fetched from database.-->
        <br>
        Report No:
        {{ i.id }} <!-- Report number fetched -->
        Advisor:                <!--The advisor is displayed  as well as the report type -->
        {{ i.agent }}
        Report Type: {{ i.type }}
        <a href="view_individual_sales_report/{{ i.id }}">Go</a>
    {% endfor %}
    {% endif %}
    {% if request.user|has_group:"travel_advisor" %}        <!-- If the user belongs to the travel advisor group show the
                                                                Reports as listed below-->
        Individual sales reports:
        {% for i in individual_sales_reports %}     <!-- For each individual sales report, if the report belongs to the requested user, show
                                                         teh correct information, such as report number -->
        {% if i.agent == request.user %}
            Report No:
        {{ i.id }}
            <a href="view_individual_sales_report/{{ i.id }}">Go</a>
            Report Type: {{ i.type }}
            {% endif %}
            <br>
        {% endfor %}
    {% endif %}
<br>
    <br>
    Global Sales Reports:
    {% for g in global_sales_reports %} <!-- Show reports for data in Global Sales Reports -->
        <br>
        Report No:
        {{ g.id }}
        Report Type: {{ g.type }}
        <a href="view_global_sales_report/{{ g.id }}">Go</a>
    {% endfor %}
<br>
    <br>
    GBP Reports: <!-- Show reports for data in Domestic currency -->
    {% for g in gbp_reports %}
        <br>
        Report No:
        {{ g.id }}
        <a href="view_gbp_report/{{ g.id }}">Go</a>
    {% endfor %}



{% endblock %}