{%  extends "base.html" %}              <!-- extends base.html to render the header and nav bar for this page -->
{% load auth_extras %}
{% block content %}
Stock Turnover Reports
    {% for s in stock_turnover_reports %}
        <br>
        Report No:
        {{ s.id }}
        <a href="view_stock_turnover_report/{{ s.id }}">Go</a>
    {% endfor %}
    <br>
    {% if request.user|has_group:"manager" %}
        <br>
        Individual sales reports:
    {% for i in individual_sales_reports %}
        <br>
        Report No:
        {{ i.id }}
        Advisor:
        {{ i.agent }}
        Report Type: {{ i.type }}
        <a href="view_individual_sales_report/{{ i.id }}">Go</a>
    {% endfor %}
    {% endif %}
    {% if request.user|has_group:"travel_advisor" %}
        Individual sales reports:
        {% for i in individual_sales_reports %}
        {% if i.agent == request.user %}
            Report No:
        {{ i.id }}
            <a href="view_individual_sales_report/{{ i.id }}">Go</a>
            Report Type: {{ i.type }}
            {% endif %}
            <br>
        {% endfor %}
    {% endif %}
<br>
    <br>
    Global Sales Reports:
    {% for g in global_sales_reports %}
        <br>
        Report No:
        {{ g.id }}
        Report Type: {{ g.type }}
        <a href="view_global_sales_report/{{ g.id }}">Go</a>
    {% endfor %}
<br>
    <br>
    GBP Reports:
    {% for g in gbp_reports %}
        <br>
        Report No:
        {{ g.id }}
        <a href="view_gbp_report/{{ g.id }}">Go</a>
    {% endfor %}



{% endblock %}