{%  extends "base.html" %}      <!-- extends base.html to render the header and nav bar for this page -->
{% load mathfilters %}

{% block content %}
    Range from:
    {{ range_from }}            <!--The dates that the user wants to see the reports are stored in these variables-->
    <br>
    Range to:
    {{ range_to }}
    <div class = "container">
    <div class="card-body bg-dark ">

<div class="col-xl- card bg-secondary">
    Created:from/to/total
    {% for a in created_ranges %}       <!--For each report within the ranges specified above for created_ranges
                                            The relevant information is displayed from the type to the total-->
        <div class="bg-light">
        Created
        from:
            type:
            {{ a.type }}            <!--The type, number, and total are displayed in all forms below as well as the range -->
            number:
        {{a.range_from}}
        to:
            type:
            {{ a.type }}
            number:
        {{a.range_to}}
        total
    {{ a.range_to|sub:a.range_from }}
        </div>
    {% endfor %}
       </div>

<div class="col-xl- card bg-secondary">
Assigned:from/to/advisor/total
{% for a in assigned_ranges  %}         <!--Within the ranges mentioned above, for each report display the correct information
                                            similiar to before, but with assigned ranges-->
    <div class="bg-light">
    Assigned
    from:
        type:
        {{ a.type }}
        number:
    {{ a.range_from }}
    to:
        type:
        {{ a.type }}
        number:
    {{ a.range_to }}
    assigned to
    {{ a.agent }}
        total
    {{ a.range_to|sub:a.range_from }}
    </div>
{% endfor %}
<div/>



    </div>

    </div>
<div class="col-xl- card bg-secondary">
Used:from/to/total
{% for a in assigned_ranges  %}

    <div class="bg-light">
    Used
    from:
        type:
        {{ a.type }}
        number:
    {{ a.range_from }}
    to:
        type:
        {{ a.type }}
        number:
    {{ a.range_from|add:a.sold_blank_count  }} <!--Similiar to before except ots the sold blanks range -->
    sold by
    {{ a.agent }}
        total sold
    {{ a.sold_blank_count}}
    </div>
{% endfor %}
</div>

    <div class="col-xl- card bg-secondary">
Left:from/to/total
{% for a in assigned_ranges  %}

    <div class="bg-light">
    Left
    from:
        type:
        {{ a.type }}
        number
    {{ a.range_from|add:a.sold_blank_count }}
    to:
        type:
        {{ a.type }}
        number:
    {{ a.range_to  }}
    assigned to:
    {{ a.agent }}
        total left:
    {{ a.range_to|sub:a.range_from|sub:a.sold_blank_count }}  <!--Calculates and Displays how many blanks left in the database -->
    </div>
{% endfor %}
</div>
    </div>

{% endblock %}