{%  extends "base.html" %}      <!-- extends base.html to render the header and nav bar for this page -->
{% load mathfilters %}
{% block content %}

    <div class="card">
    <div class="card-body">
    {% if b.is_refunded %}
            <div class="card-body bg-primary">
            This blank has been refunded
        </div>
        {% endif %}
    Period: {{ date_from }} - {{ date_to }}
    <br>
    {% for b in blanks_report|slice:":1" %}
        Agent:
        {{ b.advisor }}
        </div>
    {% endfor %}
</div>
    <div class="card">
    {% for b in blanks_report  %}
        <div class="card">
        <div class="card-body">
        Assigned:
            type:
       - {{ b.type }}
            number:
{{ b.number }}
        </div>
<div class="card-body">
        Price-With Discount-(in GBP)
        {{ b.price }}
        </div>
        <div class="card-body">
        Discount Applied (in GBP):
        {{ b.discount }}
        </div>
         {% if b.blank_currency.rate is not None %}
             <div class="card-body">
             Local Currency(if paid in)
             rate:
             {{ b.blank_currency.rate }}
             {{ b.blank_currency.type }}
        {{ b.price|mul:b.blank_currency.rate|div:100 }}</div>
        {% endif %}
       <div class="card-body">
        VAT:
        {{ b.price|mul:0.2  }}
        </div>
        <div class="card-body">
        Price after VAT:
        {{ b.price|mul:0.2|add:b.price }}
        </div>
        <div class="card-body">
        Is paid? {{ b.is_paid }}
        </div>
        {% if b.is_paid is not True %}
            <div class="card-body">
        Payment Due {{ b.payment_due }}
        </div>
        {% endif %}
        {% if b.is_paid is True %}
            <div class="card-body">
        Paid by card? {{ b.paid_by_card }}
            {% if b.paid_by_card is True %}
                Card No {{ b.blank_card.number }}
            {% endif %}
        </div>
        {% endif %}
        <div class="card-body">
        </div>
        <div class="card-body">
        Commission Rate:
        {{ b.commission_rate }} %
        </div>
        <div class="card-body">
        Commission in GBP (after the payment is made): {{ b.price|mul:b.commission_rate|div:100 }}
        </div>
        <br>
{% endfor %}
    </div>
    Number Of Tickets: {{ num }}
    <br>
    Total Price (in GBP): {{ total_price }}
    <br>
    Total Price (in Local Currencies (these are already converted to gbp and added to the total price)): {{ total_price_local }}
    <br>
    Total Price after the Taxes: {{ total_price|mul:0.2|add:total_price  }}
    <br>
    Total Commissions: {{ total_commission }}
    <br>
    Total Paid: {{ total_paid }}
    <br>
    Net Amount: {{ total_paid|sub:total_commission }}
    </div>
{% endblock %}