body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  margin:0;
  background-color:#f4f4f4;
}

.card-body{
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  justify-content: space-between;
}

.box{
  width: 50%;
  padding: 10px;
  position:absolute;
  left:50%;
  transform: translate(-50%);
  background: #F9F9F9;
  text-align: center;
  outline-color: #0603C2;
  border-color: #0603C2;
}

.bottom{
  margin-bottom: auto;
  margin-top: auto;
}

.box h1 {
  color: #040474;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  text-align:center;
}

.box input[type = "text"],.box input[type = "password"]{
  background: none;
  display: block;
  margin: 1% auto;
  text-align:center;
  border: 2px solid #0603C2;
  padding: 5px 10px;
  width:200px;
  outline: #0603C2;
  color: #020063;
  border-radius: 10px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  width: 280px;
  border-color: #026BDE;
}

.box input[type = "submit"] {
  background: #020063;
  display: block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #0603C2;
  padding: 10px 10px;
  width:100px;
  outline: #0603C2;
  color: white;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover {
  background: #026BDE;
}


/*Global such as container*/
.container {
    width: 80%;
    margin:auto;
    overflow: hidden;
    color: #040474;
}

ul{
    margin:0;
    padding:0;
}

header{
    background: #026BDE;
    color:white;
    padding-top: 15px;
    min-height: 100px;
    border-bottom: #040474 10px solid;

}

header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display:inline;
    padding: 0 20px 0 20px;
}

header nav {
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color: #040474;
    font-weight: bold;
}

header a:hover {
    color:#040474;
    font-weight: bold;
}
