body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  background: #FFFFFF
}

.box{
  width: 300px;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: #F9F9F9;
  text-align: center;
  outline-color: #0603C2;
  border-color: #0603C2;
}

.box h1 {
  color: #040474;
  text-transform: uppercase;
  font-weight: 2000;
  font-style: italic;
}

.box input[type = "text"],.box input[type = "password"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #0603C2;
  padding: 5px 10px;
  width:200px;
  outline: #0603C2;
  color: #020063;
  border-radius: 5px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #026BDE;
}

.box input[type = "submit"] {
  background: #020063;
  display: block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #0603C2;
  padding: 10px 10px;
  width:100px;
  outline: #0603C2;
  color: white;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "submit"]:hover {
  background: #026BDE;
}
