
/* All Styling used in the ATS System is featured below */

body{
  overflow-x: hidden;
  margin: 0;
  padding:0;
  font-family: 'Arial', monospace;
  background: white;
}

.bg-light h1 {
    font-family: 'Arial Black';
    text-align: center;
    background: white;
}

.bg-light {
    background: white;
}

.bg-light input[type=submit] {
    background-color: #026BDE;
  display: block;
  margin: 4% auto;
  text-align:center;
  font-family: "Arial";
  font-width: bold;
  border: 3px solid #026BDE;
  padding: 5px 10px;
  width: auto;
  outline: #026BDE;
  color: white;
  border-radius: 10px;
  transition: 0.25s;
}

/*Formatting hovering over login button*/
.bg-light input[type=submit]:hover {
    background-color: lightskyblue;
    font-weight: bold;
    border: 3px solid lightskyblue;
}

.box input[type = "submit"]:hover {
  background: #026BDE;
}

/* Login form CSS */
.bg-secondary h1{
    font-family: 'Arial Black';
    text-align: center;
    background: white;
}

.card-body{
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  justify-content: space-between;
  background: white;
}

.card-body h1{
    font-family: 'Arial Black';
    text-align: center;
    background: white;
}

/* Form Button Formatting */
.card-body input[type=submit] {
  background-color: #026BDE;
  display: block;
  margin: 4% auto;
  text-align:center;
  font-family: "Arial";
  border: 3px solid #026BDE;
  padding: 5px 10px;
  width: auto;
  outline: #026BDE;
  color: white;
  border-radius: 10px;
  transition: 0.25s;
}

/*Formatting hovering over login button*/
.card-body input[type=submit]:hover {
    background-color: lightskyblue;
    font-weight: bold;
    border: 3px solid lightskyblue;
}

/* input forms: submit form button */
.card input[type=submit] {
    background-color: #026BDE;
    border: 3px solid #026BDE;
    width: auto;
}

.bg-light input[type=submit] {
    background-color: #026BDE;
    border: 3px solid #026BDE;
    width: auto;
}

/* input forms: submit form button (hovering) */
.bg-light input[type=submit]:hover {
    background-color: lightskyblue;
    font-weight: bold;
    border: 3px solid lightskyblue;
    width: auto;
}

.card{
    background: #026BDE;
}

/*Global such as container*/
.container {
    overflow: hidden;
}

header .container h1{                     /* formatting 'Air Ticket Sales'  */
    color: black;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Arial Black';
    font-size: 70px;
}

a.btn-primary {                     /* formatting the 'Go' button */
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #026BDE;
    outline: #026BDE;
}

a.btn-primary:hover {               /* formatting hovering over the 'Go' button */
    text-decoration: none;
    background-color: lightskyblue;
    border: lightskyblue;
    font-weight: bold;
    outline: none;
}


ul a.card-body{
    color: #000d1a;
}

header{
    background: white;
    color:white;
    padding-top: 1%;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}


header li{
}

/* navigation bar CSS */


header nav {
    float: right;
    margin-top: 10px;
    font-family: "Arial Black";
}

header .highlight, header .current a{
    color: #000d1a;
    font-weight: bold;
}

header a:hover {
    color: lightskyblue;
    text-decoration: none;
    font-style: italic;
}


/*
.box{
  width: 50%;
  padding: 10px;
  position:absolute;
  left:50%;
  transform: translate(-50%);
  background: white;
  text-align: center;
  outline-color: #0603C2;
  border-color: #0603C2;
}


.bottom{
  margin-bottom: auto;
  margin-top: auto;
}

.box h1 {
  color: #040474;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  text-align:center;
}

.box input[type = "text"],.box input[type = "password"]{
  background: none;
  display: block;
  margin: 1% auto;
  text-align:center;
  border: 2px solid #0603C2;
  padding: 5px 10px;
  width:200px;
  outline: #0603C2;
  color: #020063;
  border-radius: 10px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  width: 200px;
  border-color: #026BDE;
}

.box input[type = "submit"] {
  background: #020063;
  display: block;
  text-align:center;
  border: 2px solid #0603C2;
  padding: 10px 10px;
  width:100px;
  outline: #0603C2;
  color: white;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
*/